/* resources/css/app.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Dosis font face declaration */
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-VariableFont_wght.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    /*font-display: swap;*/
}



.shadow-text {
    text-shadow: 1px 3px 0 #3F3F46;
}

body {
    font-family: 'Dosis';
}


.font-dosis-light { font-weight: 300; }
.font-dosis-regular { font-weight: 400; }
.font-dosis-medium { font-weight: 500; }
.font-dosis-bold { font-weight: 700; }
.font-semibold { font-weight: 600; }
